:root {
    --color-black: #030f0f;
    --color-white: #f9f9f8;
    --color-pastel: #f5f3e2;
    --color-green: #abd1c1;
    --color-green-oscuro: #55969e;
    --color-grey: #cccee0;
    --color-texto: #2c3e50;
    --color-skyblue: #00a7ff;
    --color-blue: #0056b3;
    --bg: linear-gradient(120deg, #5d99f8 20%, #c2e9fb 100%);
    --bg-ft: rgb(48, 198, 203);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 10px;
}

img {
    max-width: 100%;
}

.nav-bar {
    background-color: var(--color-green);
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-cart {
    font-size: 1.5rem;
}

.nav-counter {
    display: none;
    color: var(--color-black);
    font-size: 1rem;
    position: relative;
    right: 5px;
    bottom: 20px;
}

/* Home */
.section-products,
.details-container {
    background-color: var(--color-pastel);
    padding-bottom: 2rem;
}

.title,
.details-title {
    font-size: 35px;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
    color: var(--color-green-oscuro);
}

.title-secundary {
    font-size: 30px;
    text-align: center;
    color: var(--color-green-oscuro);
    margin-bottom: 2rem;
}

.select-filter {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0;
}

.sort-order,
.category-filter {
    padding: 5px 16px;
    border: 1px solid var(--color-green);
    border-radius: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    width: 80rem;
    margin: 0 auto;
}

.card-product {
    width: 288px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(171, 209, 193, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(171, 209, 193, 1);
    box-shadow: 2px 2px 2px 0px rgba(171, 209, 193, 1);
}

.card-title {
    padding: 10px;
    color: var(--color-texto);
    letter-spacing: 2px;
    font-weight: 500;
}

.card-img {
    width: 200px;
    height: 380px;
    margin: 0 auto;
}

.card-price {
    color: var(--color-texto);
    font-size: 1.2rem;
}

.card-link {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--color-green);
    padding: 5px;
    color: var(--color-black);
    border: 1px solid var(--color-green-oscuro);
    border-radius: 20px;
}

.card-link:hover {
    color: var(--color-white);
    background-color: var(--color-green-oscuro);
}

/* Detail */
.details-container {
    min-height: 100vh;
}

.detail-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 90rem;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(171, 209, 193, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(171, 209, 193, 1);
    box-shadow: 0px 0px 5px 2px rgba(171, 209, 193, 1);
    border-radius: 20px;
}

.detail-title {
    grid-column: 1/3;
    letter-spacing: 5px;
}

.detail-img {
    justify-self: center;
}

.detail-description {
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.detail-txt {
    font-size: 1.2rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: var(--color-texto);
}

.detail-button {
    background-color: var(--color-green);
    border: 1px solid var(--color-green-oscuro);
    padding: 5px;
    width: 15rem;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}

.detail-button:hover {
    background-color: var(--color-green-oscuro);
    color: var(--color-white);
}

/* Sweet Alert */
.sweet-popup {
    width: 20rem;
}

.sweet-title {
    font-size: 1rem;
}


/* Botones paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: var(--color-green-oscuro);
    color: var(--color-white);
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-button.active {
    background-color: var(--color-blue);
    font-weight: bold;
}

.pagination-button:hover {
    background-color: var(--color-blue);
}

/* Real time */
.real-time-title {
    text-align: center;
    padding: 3rem;
}

.real-time-products {
    display: flex;
    margin-bottom: 3rem;
}

.real-time-container {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
}

.real-time-card {
    width: 15rem;
    height: auto;
    text-align: center;
    border: 1px solid var(--color-black);
    padding: 10px;
}

.real-time-img {
    width: 160px;
    max-height: 390px;
    justify-self: center;
    margin: 1rem 0;
}


/* Formulario */
.form {
    background-color: #858383;
    padding: 3rem;
    text-align: center;
    margin-right: 2rem;
}

.form-create,
.form-update,
.form-delete {
    width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input {
    margin-bottom: 1rem;
}

label {
    font-size: 1.3rem;
}

span {
    color: #ff0000;
}

/* Footer */
.ft {
    padding-top: 5px;
    background-color: var(--color-green);
}

.ft-txt {
    color: var(--color-black);
    text-align: center;
}