<div class="section-products">
    <h1 class="title">Bienvenido a mi tienda</h1>
    <div >
        <h2 class="title-secundary">Mis productos</h2>
        <div class="products" id="container-products">

        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>