<div>
    <h1 class="real-time-title">Productos en tiempo real</h1>
    <div class="real-time-products">
        <div class="real-time-container" id="container"></div>
        <div class="form">
            <h2>Gestión de Productos</h2>

            <form class="form-create">
                <label for="title"><span>*</span> Título: </label>
                <input type="text" id="form-title" required>

                <label for="description"><span>*</span> Descripción: </label>
                <input type="text" id="form-description" required>

                <label for="price"><span>*</span> Precio: </label>
                <input type="number" id="form-price" step="0.01" required>

                <label for="stock"><span>*</span> Stock: </label>
                <input type="number" id="form-stock" required>

                <label for="code"><span>*</span> Código: </label>
                <input type="text" id="form-code" required>

                <label for="category"><span>*</span> Categoría: </label>
                <input type="text" id="form-category" required>

                <label for="imagen">Imagen del producto</label>
                <input type="text" id="form-imagen" name="image" placeholder="url de la imagen (opcional)">

                <button id="add-button">Guardar Producto</button>
            </form>

            <form class="form-update">
                <label for="idproduct">ID del producto a modificar</label>
                <input type="text" id="update-id">
                <label for="update-data">¿Qué dato deseas modificar?</label>
                <select id="update-data" name="update-data">
                    <option value="title">Título</option>
                    <option value="price">Precio</option>
                    <option value="stock">Stock</option>
                    <option value="code">Código</option>
                    <option value="category">Categoría</option>
                    <option value="description">Descripción</option>
                    <option value="imagen">Imagen</option>
                </select>

                <label for="new-value">Nuevo valor:</label>
                <input type="text" id="new-value" name="new-value" required>

                <button id="update-button">Modificar</button>
            </form>

            <form class="form-delete">
                <label for="id-delete"><span>*</span> ID del Producto a eliminar</label>
                <input type="text" id="id-delete" required>
                <button id="delete-button">Eliminar Producto</button>
            </form>
        </div>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realtime.js"></script>